/.dart_tool
/build
/flutter_.log
/.dart_tool
/build
/flutter_.log
android/local.properties
ios/Runner.xcconfig
*.iml
.packages
pubspec.lock
!.env.example
.env
android/local.properties
ios/Runner.xcconfig
*.iml
.packages
pubspec.lock