gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
/app/src/debug/AndroidManifest.xml
/app/src/main/kotlin/com/example/apps/MainActivity.kt
/app/src/main/res/drawable/launch_background.xml
/app/src/main/res/drawable-v21/launch_background.xml
/app/src/main/res/mipmap-hdpi/ic_launcher.png
/app/src/main/res/mipmap-mdpi/ic_launcher.png
/app/src/main/res/mipmap-xhdpi/ic_launcher.png
/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
/app/src/main/res/values/styles.xml
/app/src/main/res/values-night/styles.xml
/app/src/main/AndroidManifest.xml
/app/src/profile/AndroidManifest.xml
/app/build.gradle.kts
/gradle/wrapper/gradle-wrapper.properties
/apps_android.iml
/gradle.properties
/settings.gradle.kts
